.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* RESPONSIVE for Mobile, da 0px a 419px */
@media screen and (max-width: 419px) {

body{
  margin: 0;
}

img{
  height: 140px;
  margin-top: 25px;
}

#why .container{
  margin-top:15px;
   background-color: rgba(0, 0, 0, .5);
}

#why .container hr{
   margin-top:30px;
}

h1{
  font-size: 1.5rem;
  padding-top: 15px;
}

}

/* RESPONSIVE FOR TABLET, da 419px a 991px */
@media screen and (min-width: 419px) and (max-width: 991px) {

/* lezioni */

#lezioni .container>.left,
#lezioni .container>.right{
  margin-top: 0;
  margin-bottom: 0;
}

/* steps */

#steps .container>.left,
#steps .container>.central,
#steps .container>.right {
  margin-top:30px;
  margin-bottom:30px
}

#why .container{
  margin-top:15px;
  background-color: rgba(0, 0, 0, .5);
}


}
